---
import LiquidMarblingBG from '@/components/LiquidMarblingBG.astro'
import SliderCard from '@/components/ui/SliderCard.astro'
import './../styles/globals.css'

export function getStaticPaths() {
    return [
        { params: { v: 'v1' } },
        { params: { v: 'v2' } },
        { params: { v: 'v3' } },
        { params: { v: 'v4' } },
        { params: { v: 'v5' } },
        { params: { v: 'v6' } },
        { params: { v: 'v7' } },
        { params: { v: 'v8' } },
        { params: { v: 'v9' } },
        { params: { v: 'v10' } },
        { params: { v: 'v11' } },
        { params: { v: 'v12' } },
    ]
}

const { v } = Astro.params
---

<LiquidMarblingBG>
    <div class="grid w-screen h-screen place-items-center">
        <div class="grid overflow-hidden resize p-11 place-items-center">
            <SliderCard
                cardOffset={0}
                name="100% Natural"
                details="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                {...{ [v]: true }}
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="w-8 h-8 text-primary"
                    data-darkreader-inline-stroke=""
                    style="--darkreader-inline-stroke: currentColor;"
                    slot="icon"
                >
                    <path
                        class="group-data-[current=0]:fill-green-400 fill-transparent transition-colors"
                        d="M11 20A7 7 0 0 1 9.8 6.1C15.5 5 17 4.48 19 2c1 2 2 4.18 2 8 0 5.5-4.78 10-10 10Z"
                    ></path>
                    <path d="M2 21c0-3 1.85-5.36 5.08-6C9.5 14.52 12 13 13 12"
                    ></path>
                </svg>
            </SliderCard>
        </div>
    </div>
</LiquidMarblingBG>

<style>
    body {
        min-height: 100vh;
    }
</style>
