---
import Layout3D from '@/layouts/Layout3D.astro'
import '@/styles/globals.css'
---

<Layout3D title="doifjodsi">
    <h1 class="font-hero">
        Разблокируйте вашего сайта с моими навыками программирования
    </h1>
    <h1 class="font-hero">dojfpodsjfoi</h1>
</Layout3D>
