---
import WaveEffect from '@/components/WaveEffect.astro'
import WaveEffectComposition from '@/components/WaveEffectComposition.astro'
import WebGPU from '@/components/WebGPU.astro'
import '@/styles/globals.css'
---

<html class="h-full">
    <head>
        <meta charset="UTF-8" />
        <title>Love Maze - OzOv</title>
        <meta name="author" content="Ozerov Ilya" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- <link rel="preconnect" href="https://fonts.googleapis.com" /> -->
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link href="https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap" rel="stylesheet" />
    </head>

    <body class="min-h-screen bg-black">
        <canvas id="canvas"></canvas>
        <script>
            const vertexShaderText = ``
            const fragmentShaderText = ``

            function initShader() {
                const canvas = document.getElementsByTagName('canvas').item(0)
                if (!canvas) return
                const webgl = canvas.getContext('webgl')
                if (!webgl) return
                const vertexShader = webgl.createShader(webgl.VERTEX_SHADER)
                const fragmentShader = webgl.createShader(webgl.FRAGMENT_SHADER)
                if (!vertexShader || !fragmentShader) return
                webgl.shaderSource(vertexShader, vertexShaderText)
                webgl.shaderSource(fragmentShader, fragmentShaderText)

                webgl.compileShader(vertexShader)
                if (!webgl.getShaderParameter(vertexShader, webgl.COMPILE_STATUS)) {
                    return
                }

                webgl.compileShader(fragmentShader)
                if (!webgl.getShaderParameter(fragmentShader, webgl.COMPILE_STATUS)) {
                    return
                }

                const program = webgl.createProgram()
                if (!program) {
                    return
                }

                webgl.attachShader(program, vertexShader)
                webgl.attachShader(program, fragmentShader)
                webgl.linkProgram(program)

                if (!webgl.getProgramParameter(program, webgl.LINK_STATUS)) {
                    return
                }

                webgl.useProgram(program)
            }
        </script>
        <!-- <div class="grid h-screen place-items-center size-full">
            <div class="relative w-[30rem] h-[32rem]">
                <WaveEffectComposition className="z-20 pointer-events-none">
                    <div class="relative z-10 grid h-full bg-black border-2 pointer-events-none place-items-center border-neutral-400">
                        <span class="font-['Charm'] text-6xl font-bold absolute top-[40%] [-webkit-text-stroke:_1px_white] opacity-25" id="text-3">вот так вот</span>
                        <span class="font-['Charm'] text-6xl font-bold absolute top-[42%] [-webkit-text-stroke:_1px_white] opacity-40" id="text-2">вот так вот</span>
                        <span class="font-['Charm'] text-6xl font-bold absolute text-neutral-200" id="text-1">вот так вот </span>
                    </div>
                </WaveEffectComposition>
            </div>
        </div> -->
    </body>
</html>
