<section class="w-full py-12 md:py-24 lg:py-32 h-[95vh]">
    <div class="container grid gap-6 px-4 md:px-6 lg:grid-cols-2 lg:gap-12">
        <div class="flex justify-center">
            <div
                class="object-cover w-full h-auto mx-auto overflow-hidden bg-neutral-200 lg:aspect-square rounded-xl sm:size-full"
            >
            </div>
        </div>
        <div class="flex flex-col justify-center space-y-4">
            <div class="space-y-2">
                <h2
                    class="text-3xl font-heroRu font-medium sm:text-4xl md:text-5xl"
                >
                    Свяжитесь со мной
                </h2>
                <p class="max-w-[600px] text-muted-foreground md:text-xl">
                    У вас есть вопросы по поводу моих услуг программирования?
                    Заполните форму ниже и я свяжусь с вами в ближайшее время{
                        ' '
                    }
                </p>
            </div>
            <form class="grid gap-4">
                <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                    <input
                        class="flex flex-1 w-full h-10 max-w-lg px-3 py-2 text-sm border rounded-md border-input bg-background ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                        type="text"
                        placeholder="Имя"
                    />
                    <input
                        class="flex flex-1 w-full h-10 max-w-lg px-3 py-2 text-sm border rounded-md border-input bg-background ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                        placeholder="Электронная почта"
                        type="email"
                    />
                </div>
                <textarea
                    class="flex min-h-[80px] w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 max-w-lg flex-1"
                    placeholder="Сообщение"
                    rows="4"></textarea>
                <button
                    class="inline-flex items-center justify-center h-10 px-4 py-2 text-sm font-medium transition-colors rounded-md whitespace-nowrap ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90"
                    type="submit"
                >
                    Отправить
                </button>
            </form>
        </div>
    </div>
</section>
