<footer
    class="flex flex-col items-center w-full gap-2 px-4 h-[5vh] border-t sm:flex-row shrink-0 md:px-6"
>
    <p class="text-xs text-muted-foreground">© 2024 Мой Персональный Сайт</p>
    <nav class="flex gap-4 sm:ml-auto sm:gap-6">
        <a class="text-xs hover:underline underline-offset-4" href="#">
            Условия обслуживания
        </a>
        <a class="text-xs hover:underline underline-offset-4" href="#">
            Политика конфиденциальности
        </a>
    </nav>
</footer>
