---
import '@/styles/globals.css'
---

<section class="w-full h-[calc(100vh-3.5rem)] py-12 md:py-24 lg:py-32">
    <div
        class="container grid h-full grid-rows-[0.3fr,auto,1fr] lg:grid-rows-none py-8 gap-6 px-4 md:px-6 lg:grid-cols-2 lg:gap-12"
    >
        <div class="lg:hidden"></div>
        <div class="flex flex-col justify-center space-y-4">
            <div class="space-y-4">
                <h1
                    class="text-3xl font-heroRu font-medium sm:text-5xl xl:text-6xl/none"
                >
                    Разблокируйте <span
                        class="bg-gradient-to-br from-purple-600 to-orange-500 bg-clip-text text-transparent"
                        >потенциал</span
                    > вашего сайта с моими навыками программирования
                </h1>
                <p
                    class="max-w-[600px] font-inconsolata text-muted-foreground md:text-xl"
                >
                    Улучшите свой сайт с помощью моих премиум навыков
                    программирования, специально разработанных для повышения
                    эффективности и конкурентоспособности вашего сайта.
                </p>
                <div class="flex flex-col gap-2 min-[400px]:flex-row">
                    <a
                        href="#"
                        class="inline-flex items-center justify-center h-10 px-8 text-sm font-medium transition-colors rounded-md shadow bg-primary text-primary-foreground hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50"
                    >
                        Купить сейчас
                    </a>
                    <a
                        href="#"
                        class="inline-flex items-center justify-center h-10 px-8 text-sm font-medium transition-colors border rounded-md shadow-sm border-input bg-background hover:bg-accent hover:text-accent-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50"
                    >
                        Узнать больше
                    </a>
                </div>
            </div>
        </div>
        <div
            class="object-cover w-full h-auto mx-auto overflow-hidden bg-neutral-200 lg:aspect-square rounded-xl sm:size-full"
        >
            <canvas id="heroCanvas"></canvas>

            <script>
                /*  emitEvent: ƒ emitEvent(s)
                    emitEventReverse: ƒ emitEventReverse(s)
                    intensity: undefined
                    name: "CUCKmber"
                    page: "Scene 1"
                    parentUuid: "2d3a9611-bfbb-43b3-ab02-adb4eaada2f2"
                    position: E {
                        x: 1.9653399007029635, 
                        y: 1.054589867591858, 
                        z: -0.24195627868175507
                    }
                    rotation: ir {
                        "isEuler": true,
                        "_x": 2.8697173598094836,
                        "_y": 1.1120978401053763,
                        "_z": 1.6311621098990423,
                        "_order": "XYZ"
                    }
                    scale: E {
                        x: 1.856998085975647, 
                        y: 0.5777410864830017, 
                        z: 0.5777410268783569
                    }
                    type: "Mesh"
                    uuid: "671f7e04-23c2-4bff-8bff-e93e13d76448"
                    visible: bool                                        */

                import { Application } from '@splinetool/runtime'
                import scope from 'astro:scope'

                const canvasHero =
                    'https://prod.spline.design/7yrNv47D5X8Y00uP/scene.splinecode'

                const bottle =
                    'https://prod.spline.design/h4YwfV706FBHN5cy/scene.splinecode'

                const canvas = document.getElementById(
                    'heroCanvas'
                ) as HTMLCanvasElement
                const app = new Application(canvas)
                app.load(bottle).then(() => {
                    const pack = app.findObjectById(
                        'b070972b-2e02-4816-9a42-f2307981f79b'
                    )
                })
            </script>
        </div>
    </div>
</section>
