<!--  after:super-rounded after:size-10 after:absolute after:[--smooth-corners:_4] after:bg-[linear-gradient(deeppink,orangered)] after:[mask-image:paint(smooth-corners)] --><!-- Organic, non-GMO vegetables
                         High-potency vitamin and mineral blends
                         Sustainably sourced, eco-friendly ingredients --><!-- <ul
                        class="relative z-0 grid grid-cols-3 mt-10 divide-x divide-black group"
                        id="pros-list-mini"
                    >
                        <li
                            class="flex flex-col items-center gap-3 transition-colors"
                            id="pros-1-mini"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="56"
                                height="56"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="size-14 text-primary"
                                data-darkreader-inline-stroke=""
                                style="--darkreader-inline-stroke: currentColor;"
                            >
                                <path
                                    class="group-data-[current=1]:fill-green-400 group-data-[current=4]:fill-green-400 transition-colors"
                                    d="M11 20A7 7 0 0 1 9.8 6.1C15.5 5 17 4.48 19 2c1 2 2 4.18 2 8 0 5.5-4.78 10-10 10Z"
                                ></path>
                                <path
                                    d="M2 21c0-3 1.85-5.36 5.08-6C9.5 14.52 12 13 13 12"
                                ></path>
                            </svg>
                            <span
                                class="text-lg font-semibold leading-tight text-center"
                                >Organic</span
                            >
                        </li>
                        <li
                            class="flex flex-col items-center gap-3 transition-colors"
                            id="pros-2-mini"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="56"
                                height="56"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="size-14 text-primary"
                                data-darkreader-inline-stroke=""
                                style="--darkreader-inline-stroke: currentColor;"
                            >
                                <path d="M12 4V2"></path>
                                <path
                                    class="group-data-[current=2]:fill-orange-400 group-data-[current=4]:fill-orange-400 transition-colors"
                                    d="M5 10v4a7.004 7.004 0 0 0 5.277 6.787c.412.104.802.292 1.102.592L12 22l.621-.621c.3-.3.69-.488 1.102-.592A7.003 7.003 0 0 0 19 14v-4"
                                ></path>
                                <path
                                    class="group-data-[current=2]:fill-orange-900 group-data-[current=4]:fill-orange-900 transition-colors"
                                    d="M12 4C8 4 4.5 6 4 8c-.243.97-.919 1.952-2 3 1.31-.082 1.972-.29 3-1 .54.92.982 1.356 2 2 1.452-.647 1.954-1.098 2.5-2 .595.995 1.151 1.427 2.5 2 1.31-.621 1.862-1.058 2.5-2 .629.977 1.162 1.423 2.5 2 1.209-.548 1.68-.967 2-2 1.032.916 1.683 1.157 3 1-1.297-1.036-1.758-2.03-2-3-.5-2-4-4-8-4Z"
                                ></path>
                            </svg>
                            <span
                                class="text-lg font-semibold leading-tight text-center"
                                >High-potency</span
                            >
                        </li>
                        <li
                            class="flex flex-col items-center gap-3 transition-colors"
                            id="pros-3-mini"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="56"
                                height="56"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="size-14 text-primary"
                                data-darkreader-inline-stroke=""
                                style="--darkreader-inline-stroke: currentColor;"
                            >
                                <path
                                    class="group-data-[current=3]:fill-green-400 group-data-[current=4]:fill-green-400 transition-colors"
                                    d="M11 20A7 7 0 0 1 9.8 6.1C15.5 5 17 4.48 19 2c1 2 2 4.18 2 8 0 5.5-4.78 10-10 10Z"
                                ></path>
                                <path
                                    d="M2 21c0-3 1.85-5.36 5.08-6C9.5 14.52 12 13 13 12"
                                ></path>
                            </svg>
                            <span
                                class="text-lg font-semibold leading-tight text-center"
                                >Sustainably<br />sourced</span
                            >
                        </li>
                    </ul>  --><!-- <div class="grid grid-cols-[1fr_2fr] gap-4">
                        <div class="rounded ring-4 ring-black"></div>
                        <ul
                            class="relative z-0 grid grid-cols-3 divide-x-2 divide-black rounded group ring-4 ring-black"
                            id="pros-list-mini"
                        >
                            <li
                                class="flex flex-col items-center gap-3 transition-colors"
                                id="pros-1-mini"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="56"
                                    height="56"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="size-14 text-primary"
                                    data-darkreader-inline-stroke=""
                                    style="--darkreader-inline-stroke: currentColor;"
                                >
                                    <path
                                        d="M11 20A7 7 0 0 1 9.8 6.1C15.5 5 17 4.48 19 2c1 2 2 4.18 2 8 0 5.5-4.78 10-10 10Z"
                                    ></path>
                                    <path
                                        d="M2 21c0-3 1.85-5.36 5.08-6C9.5 14.52 12 13 13 12"
                                    ></path>
                                </svg>
                                <span
                                    class="text-lg font-semibold leading-tight text-center"
                                    >Organic</span
                                >
                            </li>
                            <li
                                class="flex flex-col items-center gap-3 transition-colors"
                                id="pros-2-mini"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="56"
                                    height="56"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="size-14 text-primary"
                                    data-darkreader-inline-stroke=""
                                    style="--darkreader-inline-stroke: currentColor;"
                                >
                                    <path d="M12 4V2"></path>
                                    <path
                                        d="M5 10v4a7.004 7.004 0 0 0 5.277 6.787c.412.104.802.292 1.102.592L12 22l.621-.621c.3-.3.69-.488 1.102-.592A7.003 7.003 0 0 0 19 14v-4"
                                    ></path>
                                    <path
                                        d="M12 4C8 4 4.5 6 4 8c-.243.97-.919 1.952-2 3 1.31-.082 1.972-.29 3-1 .54.92.982 1.356 2 2 1.452-.647 1.954-1.098 2.5-2 .595.995 1.151 1.427 2.5 2 1.31-.621 1.862-1.058 2.5-2 .629.977 1.162 1.423 2.5 2 1.209-.548 1.68-.967 2-2 1.032.916 1.683 1.157 3 1-1.297-1.036-1.758-2.03-2-3-.5-2-4-4-8-4Z"
                                    ></path>
                                </svg>
                                <span
                                    class="text-lg font-semibold leading-tight text-center"
                                    >High-potency</span
                                >
                            </li>
                            <li
                                class="flex flex-col items-center gap-3 transition-colors"
                                id="pros-3-mini"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="56"
                                    height="56"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="size-14 text-primary"
                                    data-darkreader-inline-stroke=""
                                    style="--darkreader-inline-stroke: currentColor;"
                                >
                                    <path
                                        d="M11 20A7 7 0 0 1 9.8 6.1C15.5 5 17 4.48 19 2c1 2 2 4.18 2 8 0 5.5-4.78 10-10 10Z"
                                    ></path>
                                    <path
                                        d="M2 21c0-3 1.85-5.36 5.08-6C9.5 14.52 12 13 13 12"
                                    ></path>
                                </svg>
                                <span
                                    class="text-lg font-semibold leading-tight text-center"
                                    >Sustainably<br />sourced</span
                                >
                            </li>
                        </ul>
                    </div> -->
